@{
    @model Qmos.UI.ViewModels.TransitionParametersViewModel
    ViewData["Title"] = "Transition parameters form";
    ViewData["Root"] = "Transition parameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert.css">
<link rel="stylesheet" href="~/css/plugins/toastr/toastr.min.css" />
<partial name="_HeaderDetailPartial" view-data="ViewData" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row text-left">
                                <div class="col-lg-12">
                                    <span class="text-danger"> *</span><span>
                                        Required fields
                                    </span>
                                </div>
                            </div>
                            <form asp-action="Post" role="form" method="post">
                                <input type="hidden" asp-for="Header.Id" />
                                <input type="hidden" asp-for="Detail.Id" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Time Transition</label><span class="text-danger"> *</span>
                                        <div class="input-group " data-autoclose="true">
                                            <input type="text" class="form-control time" asp-for="Detail.TimeTransition" placeholder="Time Transition">
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 form-group">
                                        <label>Order</label><span class="text-danger"> *</span>
                                        <input asp-for="Detail.OrderTransition" type="number" placeholder="Order" class="form-control">
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label>Chart</label><span class="text-danger"> *</span>
                                        <select class="form-control m-b chosen-select" asp-for="Detail.IdElement" asp-items="@(Model.Detail.ElementList)">
                                            <option value="0">Select One Option</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row text-center">
                                    <div class="col-lg-12">
                                        <a asp-action="Index" class="btn btn-white"><i class="fa fa-arrow-left"></i> Back</a>
                                        <button id="btn-save" class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        formatearDataTableOriginal("#table", "@ViewData["Title"]", [0, 1], null);
        $('#table tbody').on('click', '.delete', function () {
            eliminarRegistro(".delete", "data-id", "@Url.Action("DeleteRoleByUser", "Users")", '#table', $(this));
        });

        $(document).ready(function () {
            $('.time').inputmask("hh:mm:ss", {
            placeholder: "hh:mm:ss",
            insertMode: false,
            showMaskOnHover: false
          }
         );
        });

    </script>
}