<div class="footer fixed">
    @*<div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>*@
    <div class="row">
        <div class="col-lg-6 text-left">
            <strong>Copyright &copy; 2020 </strong> | QMOS
        </div>
        <div class="col-lg-5 offset-1 text-right">
        </div>
    </div>
</div>