<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qmos</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @*<link rel="icon" type="image/png" href="~/images/favicon.ico" />*@

    <link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="~/css/plugins/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/css/plugins/toastr/toastr.min.css" />
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
     
</head>
<body class="pace-done skin-1">
    <div id="wrapper">
        <partial name="_NavMenupartial" action="" />
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <partial name="_HeaderPartial" />
            </div>
            @RenderBody()
            <partial name="_FooterPartial" />

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTablesCustom.js"></script>


    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>
    <script src="~/lib/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/js/plugins/jquery.inputmask.bundle/jquery.inputmask.bundle.js"></script>

    <script>
    $(document).ready(function () {

        @*var Elements = [];
        var ElementosRolables = $(document).find('[data-rolable-name]');
        jQuery.each(ElementosRolables, function (i, val) {
            Elements.push(
                {
                    TX_Url: $(val).attr('data-rolable-url'),
                    ID_ElementParent: 1,//$(val).attr('data-rolable-parent'),
                    TX_Name: $(val).attr('data-rolable-name'),
                    ID_Type:3,
                    BO_Default: false,
                    ID_Element: 0
                }
            );

        });

        $.ajax({
            type: "POST",
            data: JSON.stringify(Elements),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: '@Url.Action("RegisterElements", "Elements")',
            error: function (result) {
                console.log(result);
            },
            success: function (result) {
                console.log(result);
            }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetElementsNotAuthorized", "Elements")',
            error: function (result) {
                console.log(result);
            },
            success: function (result) {
                var notVisible = result;
                jQuery.each(notVisible, function (i, val) {
                    $('[data-rolable-url='+ val + ']').remove();
                });
            }
        });*@
    });
    </script>
    @RenderSection("scripts", required: false)

</body>
<!-- Mirrored from webapplayers.com/inspinia_admin-v2.7.1/empty_page.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 29 Jun 2017 16:47:21 GMT -->
</html>
