@{
    ViewData["Title"] = "Automatic Transition";
    ViewData["Root"] = "Dashboards";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12 text-center" style="font-size:30px;">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
</div>

    @section Scripts {

        <script type="text/javascript">
            $(document).ready(function () {
            });

        </script>
    }
