
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Qmos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="icon" type="image/png" href="~/images/favicon.ico" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/font-awesome/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/plugins/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/plugins/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../images/background.png');">
            <div class="wrap-login100 p-t-50 p-b-0">
                <form method="post">
                    @*<div class="text-center" style="padding: 50px;">
                        <img width="100" src="../images/profile_small.jpg" />
                    </div>*@
                    <div class="wrap-input100 validate-input m-b-10" data-validate="useremail is required">
                        <input class="input100" type="text" name="useremail" id="useremail" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                        <input class="input100" type="password" name="password" id="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="container-login100-form-btn p-t-10">
                        <input type="submit" value="Login" id="btnSend" class="login100-form-btn">
                    </div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="text-center w-full p-t-10 p-b-10">
                            <span href="#" class="txt1">
                                <b>@ViewBag.ErrorMessage</b>
                            </span>
                        </div>
                    }
                    <div class="text-center w-full p-t-25 p-b-20">
                        <a href="#" class="txt1" data-toggle="modal" data-target="#myForgetPassword" style="color:#999999">
                            Forgot Username / Password?
                        </a>
                    </div>
                    <!--<div class="text-center ">
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=U9jzUdzTFUet_WqhcjajRkPocD98Nz1BpUEgQfWsrldUODRBSEwwNVdIMEs5M1hVQ1k0UjZXOFU3Qy4u"  style="color:#ffffff">
            <strong>Registro</strong>
        </a>
    </div>-->
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myForgetPassword" tabindex="-1" role="dialog" aria-labelledby="myForgetPassword" aria-hidden="true" style="background-color:rgba(0,0,0,0.7)">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title myLabelForgetPassword font-bold">Recover password</h4>
                </div>
                <form asp-action="ForgotPasswordeEmail" role="form" method="post">
                    <div class="modal-body" style="background-image: url('../images/background.png'); ">
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff">Enter the registered email in the system.</font></font></p>
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff"> In a few minutes you will receive a notification to reset it.</font></font></p><br />

                        <div class="wrap-input100 validate-input m-b-10" data-validate="email is required">
                            <input class="input100" type="text" name="useremail" id="useremail" placeholder="Correo Electrónico">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <div class="container-login100-form-btn p-t-10">
                            <input type="submit" value="Enviar Correo" class="login100-form-btn">
                        </div>
                    </div>
                </form>
                <div class="modal-footer" style="padding:8px">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="mySendEmailPassword" tabindex="-1" role="dialog" aria-labelledby="mySendEmailPassword" aria-hidden="true" style="background-color:rgba(0,0,0,0.7)">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title myLabelForgetPassword font-bold">Password update</h4>
                </div>
                <form asp-action="ForgotPasswordeEmail" role="form" method="post">
                    <div class="modal-body" style="background-image: url('../images/background.png'); ">
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff">The link to recover your password has been successfully sent to your email.</font></font></p>
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff">Please check your inbox in a few minutes to reset it.</font></font></p><br />
                    </div>
                </form>
                <div class="modal-footer" style="padding:8px">
                    <button class="btn btn-primary btn-ok" type="button" id="" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myErrorEmailPassword" tabindex="-1" role="dialog" aria-labelledby="myErrorEmailPassword" aria-hidden="true" style="background-color:rgba(0,0,0,0.7)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title myLabelForgetPassword font-bold text-danger">Update failed</h4>
                </div>
                <form asp-action="ForgotPasswordeEmail" role="form" method="post">
                    <div class="modal-body" style="background-image: url('../images/background.png'); ">
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff">An error occurred</font></font></p>
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff">Enter the registered email in the system.</font></font></p><br />
                    </div>
                </form>
                <div class="modal-footer" style="padding:8px">
                    <button class="btn btn-primary btn-ok" type="button" id="" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/css/plugins/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>
</html>

@if (ViewBag.SendEmailPassword == "ok")
{
    <script>
    $('#mySendEmailPassword').modal({ backdrop: 'static', keyboard: false });
     $(".btn-ok").click(function() {
                window.location.replace("@Url.Action("Login", "Account")");
        });
    </script>
}
else if(ViewBag.SendEmailPassword == "error")
{
    <script>
    $('#myErrorEmailPassword').modal({ backdrop: 'static', keyboard: false });
     $(".btn-ok").click(function() {
                window.location.replace("@Url.Action("Login", "Account")");
        });
    </script>

}