td.day {
    width: 100%;
    line-height: 50px;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding-left: 30px;
}

.modal-dialog {
    width: 630px;
}

.datepicker-days {
    font-size: 30px;
}

.inputHours {
    height: 60px;
    font-size: 40px;
    font-weight: 900;
}

.selectTimeCard {
    height: 40px;
    font-size: 20px;
}

.inputTimeCard {
    height: 70px;
    font-size: 40px;
    font-weight: 900;
}

.checkboxTimeCard {
    height: 30px;
    width: 30px;
}

.labelTimeCard {
    font-size: 20px;
}

.chosen-container {
    font-size: 20px;
}

.chosen-single {
    padding:10px;
}

label {
    font-size: 15px;
}

.inspinia-timeline  {
    font-size: 14px;
}

    .inspinia-timeline .label {
        font-size: 14px;
    }
    .inspinia-timeline .badge {
        font-size: 14px;
    }

.btn-large-dim {
    width:65px;
    height:65px;
}

.timeline-item .content {
    min-height:80px;
}

.historicalObservations {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}