
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "MTD Tap Tempand 02 PPM";
    ViewData["Root"] = "Dashboards";
}

<link href="~/css/plugins/chartjs/Chart.min.css" rel="stylesheet" />
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/plugins/daterangepicker/daterangepicker.css" />
<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-chosen.css" />


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">

        <h2>@(!string.IsNullOrEmpty((string)ViewData["Root"]) ? @ViewData["Title"].ToString() : "")</h2>
        <p> @ViewData["Root"].ToString() / <b>@ViewData["Title"].ToString()</b></p>
    </div>
</div>

<div class="col-lg-12" data-rolable-url="dash-MTDTapTempand02PPM" data-rolable-name="Crew">
    <div class="ibox float-e-margins">
        <div class="ibox-title text-center">
            <h5>Crew</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <canvas id="chartMTDTapTempand02PPM" height="157" width="500"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.bundle.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.min.js"></script>
    <script src="~/js/plugins/chartjs/chartjs-plugin-labels.js"></script>
    <script src="~/js/plugins/moment/moment.min.js"></script>
    <script src="~/js/plugins/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/Qmos/dashboard.js"></script>
    <script src="~/lib/plugins/chosen/chosen.jquery.js"></script>

    <script>
        $(document).ready(function () {
            GetMTDTapTempand02PPM();
        });
    </script>
}
