
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Tap PPM - Target PPM";
    ViewData["Root"] = "Dashboards";
}

<link href="~/css/plugins/chartjs/Chart.min.css" rel="stylesheet" />
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/plugins/daterangepicker/daterangepicker.css" />
<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-chosen.css" />


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-6">

        <h2>@(!string.IsNullOrEmpty((string)ViewData["Root"]) ? @ViewData["Title"].ToString() : "")</h2>
    </div>
</div>

<div class="col-lg-12" data-rolable-url="dash-TargetPPM" data-rolable-name="Tap PPM - TargetPPM">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Date 07-07-2020 13:10:00</h5>
            @*<div class="ibox-tools">
                <a class="" href="">
                    <span class="text-color" style="color:#000000">Date 2020-06-01 T06:00:00</span>
                </a>
            </div>*@
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-3 col-md-4 stat-percent">
                    <div class="ibox ">
                        <div class=" text-center">
                            <h1 class="no-margins text-danger font-bold" id="Average">0.00</h1>
                            <small>Average of O2InSpec</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <canvas id="chartTargetPPM" height="157" width="600"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.bundle.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.min.js"></script>
    <script src="~/js/plugins/chartjs/chartjs-plugin-labels.js"></script>
    <script src="~/js/plugins/moment/moment.min.js"></script>
    <script src="~/js/plugins/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/Qmos/dashboard.js"></script>
    <script src="~/lib/plugins/chosen/chosen.jquery.js"></script>

    <script>
            $(document).ready(function () {
              GetTargetPPM();
            });
    </script>
}
