
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lince Comercial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/images/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/font-awesome/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/plugins/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/plugins/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../images/background.png');">
            <div class="wrap-login100 p-t-50 p-b-0">
                <form method="post">
                    <div class="text-center" style="padding: 50px;">
                        <img width="300" src="../images/logo-lince-blanco.png" />
                    </div>
                    @if (ViewBag.ErrorMessage == null)
                    {
                        <div class="wrap-input100 validate-input m-b-10" data-validate="username is required">
                            <input class="input100" type="password" name="initialPassword" id="initialPassword" placeholder="Contraseña">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-10 text-center">
                            <input class="input100 confirm" type="password" name="password" id="password" placeholder="Confirmar Contraseña">
                            <span class="text-danger password-error-message" hidden style="color:#ffffff"><strong>¡Las contraseñas no coinciden!</strong> </span>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"><i class="fa fa-paste"></i> </span>
                        </div>
                        <div class="container-login100-form-btn p-t-10">
                            <input type="submit" value="Actualizar Contraseña" id="btn-updatePassword" class="login100-form-btn">
                        </div>
                    }
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="text-center w-full p-t-10 p-b-10">
                            <span href="#" class="txt1">
                                <b>@ViewBag.ErrorMessage</b>
                            </span>
                        </div>
                    }
                    <div class="text-center w-full p-t-25 p-b-80">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalSucessMessage" tabindex="-1" role="dialog" aria-labelledby="myForgetPassword" aria-hidden="true" style="background-color:rgba(0,0,0,0.7)">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title myLabelForgetPassword font-bold">Restablecimiento de contraseña</h4>
                </div>
                <form asp-action="ForgotPassword" asp-controller="Account" role="form" method="post">
                    <div class="modal-body" style="background-image: url('../images/background.png'); ">
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff">¡Proceso realizado con éxito!</font></font></p>
                        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color:#ffffff">Ingrese el correo con el que accede al sistema y su nueva contraseña</font></font></p>
                    </div>
                </form>
                <div class="modal-footer" style="padding:8px">
                    <button class="btn btn-primary" type="button" id="btn-login" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/css/plugins/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>
</html>
<script>$(document).ready(function () {
        $(".confirm").change(function () {
            ValidatePassword();
        });

        $("#initialPassword").change(function () {
            ValidatePassword();
        });

        function ValidatePassword() {
            if ($("#initialPassword").val() != $(".confirm").val()) {
                $(".password-error-message").show();
                $("#btn-updatePassword").attr("disabled", "disabled");
            } else {
                $(".password-error-message").hide();
                $("#btn-updatePassword").removeAttr("disabled");
            }
        }



    });</script>

@if (ViewBag.SucessMessage)
{
    <script>
          $('#myModalSucessMessage').modal({ backdrop: 'static', keyboard: false });
        $("#btn-login").click(function() {
                window.location.replace("@Url.Action("Login", "Account")");
        });

    </script>
}