<div class="footer fixed">
    <div class="row">
        <div class="col-lg-6 text-left">
            <i class="fa fa-plane"></i> Travel Agency
        </div>
        <div class="col-lg-5 offset-1 text-right">
        </div>
    </div>
</div>