
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@(!string.IsNullOrEmpty((string)ViewData["Root"]) ? @ViewData["Title"].ToString() : "")</h2>
        <ol class="breadcrumb">
            @if (!string.IsNullOrEmpty((string)ViewData["Root"]))
            {
                <li>
                    <a style="cursor:default;" href="#">@ViewData["Root"].ToString()</a>
                </li>
            }

            @if (!string.IsNullOrEmpty((string)ViewData["Title"]))
            {
                <li class="active">
                    <strong>@ViewData["Title"].ToString()</strong>
                </li>
            }
        </ol>
    </div>
</div>