<div class="footer fixed">
    @*<div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>*@
    <div class="row">
        <div class="col-lg-6 text-left">
            <strong>Copyright &copy; 2020 </strong> | Lince Comercial
        </div>
        <div class="col-lg-5 offset-1 text-right">

            <a style="color:white;" target="_blank" href="https://www.linkedin.com/company/lince-comercial/">
                <i style="margin-right:15px" class="fab fa-2x fa-linkedin-in"></i>
            </a>
            <a style="color:white;" target="_blank" href="https://www.facebook.com/LinceComercial/">
                <i style="margin-right:15px" class="fab fa-2x fa-facebook-f"></i>
            </a>
            <a style="color:white;" target="_blank" href="https://www.youtube.com/channel/UCSgkpy3aGFY_KkN3eapJcEw">
                <i style="margin:5px" class="fab fa-2x fa-youtube"></i>
            </a>
        </div>
    </div>
</div>